.analytics-body {
  width: 100%;
  background-color: #ededed;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.analytics-subBody {
  max-width: 1087px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.analytics-subBody > div:first-child {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #6c63ff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #6c63ff;
  color: white;
  font-weight: normal;
}

tbody tr:nth-child(odd) {
  background-color: #e0e5fc; /* Light purple background for odd rows */
}

tbody tr:nth-child(even) {
  background-color: #f7f7fc; /* Light gray background for even rows */
}

td:last-child {
  text-align: right;
  color: #6c63ff;
  font-weight: bold;
}

td > .edit-icon,
.delete-icon,
.share-icon {
  margin-left: 10px;
  cursor: pointer;
}

td > .edit-icon:hover,
.delete-icon:hover,
.share-icon:hover {
  color: #000000;
}

.delete-body {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.823);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-body > div:first-child {
  width: 40%;
  height: 260px;
  display: flex;
  justify-content: space-around;
  border-radius: 7px;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.delete-heading {
  width: 60%;
  text-align: center;
  font-size: xx-large;
  color: #474444;
  font-weight: bold;
}
.delete-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-container > :first-child {
  width: 200px;
  height: 28px;
  border: none;
  background-color: #ff4b4b;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.cancel-delete {
  width: 200px;
  height: 28px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
}
